<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Erro</title>
    <style>
		.container {
			width: 50%;
			margin: 20vh auto;
		}
		.container p {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Erro ao abrir a pagina:</h1>
        <p><%= message%></p>
</body>

</html>