<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Museu Virtual</title>
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />

</head>

<body>
    <div class="topbar">
        <h2><a href="/">Dashboard</a></h2>
        <h2><a href="/login">Login</a></h2>
    </div>
    <div class="container">
        <h1>Uploads</h1>
        <div>
            <% for (let i=0; i<uploads.length; i++) { %>
                <div class="card">
                    <a href="<%= uploads[i].url %>">
                        <img style="max-width: 40px;" src="images/download-circular-button.png" >
                    </a>
                        
                        <div class="card-body">
                            <h2 class="card-title">
                                <%= uploads[i].nome %>
                            </h2>
                            <p class="card-text">
                                <%= uploads[i].descricao %>
                            </p>
                        </div>
                </div>
                <hr />
            <% } %>
            
        </div>
    </div>
    <a style="font-size: 5px" href="https://www.flaticon.com/free-icons/download" title="download icons">Download icons created by Catalin Fertu - Flaticon</a>
</body>

</html>