<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Formulário de Inclusão de Obra de Arte</title>
</head>

<body>
	<div class="container">
		<h1>Login</h1>
		<section style="color: red;">
			<% if(error) { %>
				<ul>
					<% for(let i = 0; i < error.length; i++){ %>
						<li>
							<%= error[i].msg %>
						</li>
					<% } %>
				</ul>
			<% } %>
		</section>
		<form class="form" action="/settings" method="post">
			<input type="text" name="login" placeholder="Digite seu nome de usuario">
			<input type="text" name="senha" placeholder="Digite sua senha">
			<button type="submit" value="enviar">Enviar</button>
		</form>
	</div>

</body>

</html>