<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Mensagem</title>
    <style>
		.container {
			width: 50%;
			margin: 20vh auto;
		}
		.container p {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1></h1>
        <p><%= message%></p>
        <h2><a href="/settings">Voltar</a></h2>
    </div>
</body>

</html>