<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Ajustes</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />

</head>

<body>
    <div class="topbar">
        <h2><a href="/">Dashboard</a></h2>
        <h2><a href="/settings">Ajustes</a></h2>
        <h2><a href="/">Log Out</a></h2>
    </div>
    <div class="container">
        <h1>Arquivos</h1>
        <h2><a href="/uploadform">Adicionar novo arquivo</a></h2>
        <h2>Editar ou deletar arquivo</h2>
    </div>
</body>

</html>