<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Formulário de Inclusão de Obra de Arte</title>
<h2>Adicionar novos arquivos</h2>
</head>

<body>
<% if(err) { %>
    <section>
    <ul>
        <% for(let i = 0; i < err.length; i++){ %>
            <li>
                <%= err[i].msg %>
            </li>
        <% } %>
    </ul>
</section>
<% } %>

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="hidden" id="id" name="id" value="<%= uploadObj.id%>">
    <input type="text" name="nome" placeholder="Digite o nome" value="<%= uploadObj.nome%>">
    <input type="text" name="descricao" placeholder="Digite a descricao" value="<%= uploadObj.descricao%>">
    <input type="file" name="files" class="btn btn-primary" id="file" placeholder="<%= uploadObj.nome%>"><br>
    <input type="submit">
</form>

</body>